
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </form>

        <div class="create-account">
            <p>Don't have an account? <a href="{% url 'signup' %}">Create one</a>.</p>
        </div>
    </div>
{% endblock %}

