/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333/*#f5f5f5*/;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* nav div.container {
    display: flex;
} */

nav ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul.menu li {
    margin-left: 10px;
}

nav ul.menu li:first-child {
    margin-left: 0;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
}

nav ul.menu li a:hover {
    color: #f5f5f5;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    margin-top: 60px;
}

footer p {
    margin: 0;
}



/* .form-box {
    position: absolute;
    left: 40%;
    color: #b42323;
} */

/* ----------------login page----------- */

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #000;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #333;
    text-decoration: none;
}

.create-account a:hover {
    color: #000;
}


.preview-container {
    max-width: 420px;
    margin: 0 auto;
}

.preview-container embed {
    width: 100%;
    height: 240px;
}

.download-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.download-link:hover {
    background-color: #0056b3;
}

.download-count {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    /* display: flex; */
    align-items: center;
}

.download-icon {
    margin-right: 5px;
}
